@defer{

<a [routerLink]="['/', paramUrl]" class="card__container">
    <div class="card-image__content">
        <img [src]="productImgSrc()" alt="Remedio" class="product-img">
        <app-free-shipping class="app-free-shipping" />
    </div>
    <div class="card__content">
        <div class="card__description">
            <h4 class="description-title">{{productDescription()}}</h4>
        </div>
        <div class="card__price">
            <small class="price-before">{{productBeforePrice() | currency : 'BRL'}}</small>
            <h3 class="price">{{productPrice() | currency : 'BRL'}}</h3>
        </div>
        <div class="card__stars">

        </div>
    </div>
    <app-button-buy class="app-btn-buy" />
</a>
}@loading {
    <p>Carregando</p>
}