@defer{

<a [routerLink]="['/product/', paramUrl]" class="card__container">
    <div class="card-image__content">
        <img [src]="productImgSrc()" alt="Remedio" class="product-img">
        <app-free-shipping class="app-free-shipping" />
    </div>
    <div class="card__content">
        <div class="card__description">
            <h4 class="description-title">{{productDescription()}}</h4>
        </div>
        <div class="card__price">
            @if(isSale()){
                <small class="price-before">{{productBeforePrice() | currency : 'BRL'}}</small>
            }
            <h3 class="price-after">{{productPrice() | currency : 'BRL'}}</h3>
            <small class="price-installments">em até 2x sem juros</small>
        </div>
        <div class="card__stars">
        </div>
    </div>
    <app-button-action class="app-btn-action" inputBtnActionTitle="Comprar" />
</a>
}@loading {
    <p>Carregando</p>
}