@defer {
    <form class="product__container">
        <div class="product__content__img">
            <img class="product__image" [src]="produto?.imgProduct" [alt]="produto?.description">
        </div>
        <div class="product__content">
            <h2 class="product__title">{{produto?.description}}</h2>
            <div class="shipping-stock">
                <app-free-shipping />
                <p class="product-stock">Quantidades restantes: <span class="stock-highlight">{{produto?.quantityInStock}}</span></p>
            </div>
            <div class="product__price-amount">
                <div class="price__content">
                    <span class="before-price">{{produto?.priceBefore | currency:'BRL'}}</span>
                    <h3 class="current-price">{{produto?.price | currency:  'BRL'}}</h3>
                </div>
                <app-product-quantity (quantityOuput)="onToggleValue($event)" [inputShowText]="true" />
            </div>
            <div class="product__buy-cart">
                <div class="buy-favorite">
                    <app-button-action inputBtnActionTitle="Comprar" class="app-btn-action" />
                    <button type="button" (click)="onToggleFavorite()" class="btn-favorite">
                        @if (isFavorite) {
                            <fa-icon class="favorite" [icon]="['fas', 'heart']" [ngStyle]="{'color': '#ed1010'}" />
                        }
                        @else {
                            <fa-icon class="favorite" [icon]="['far','heart']" [ngStyle]="{'color': 'var(--secondary-color)'}"></fa-icon>
                        }
                    </button>
                </div>
                <button type="button" class="add-cart" (click)="addToCart()">
                    <span class="cart-title">Adicionar ao carinho </span>
                    <fa-icon class="cart-icon" [icon]="['fas','cart-shopping']"></fa-icon>
                </button>
            </div>
        </div>
    </form>
}
@if(showMessage){
    <app-message-add 
        (showMessage)="onShowMessage($event)"
        [inputTitle]="produto?.description || ''" 
        inputDescription="foi adicionado ao seu carrinho" 
    />
}

