.navbar__container{
    width: 100%;
    display: flex;
    align-items: center;
    height: 100%;
}

.navbar__show-menu{
    position: relative;
    display: none;
}

.chbox-menu{
    display: none;
}

.navbar__menu{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    padding-right: 1rem;
    height: 100%;
}

.menu-item{
    margin: 0 1rem;
}
.menu-link{
    text-decoration: none;
    color: var(--secondary-color);
    padding: .75rem 1rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.25rem;
    font-weight: 500;
}

.menu-link:hover{
    color: var(--tertiary-color);
}
.menu-link.actived{
    color: var(--secondary-color-hover);
}

.menu-link.actived::after{
    content: "";
    display: block;
    height: .25rem;
    width: 100%;
    position: absolute;
    background-color: var(--secondary-color-hover);
    bottom: .25rem;
}

.separator{
    content: "";
    height: 60%;
    width: 1px;
    background-color: #7773;
}

.menu-link.actived > .bag-shopping{
    color: var(--secondary-color);
}

.bag-shopping{
    font-size: 1.25rem;
}
.bag-price{
    font-size: .9rem;
    font-weight: 500;
}

.bag__content{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.quantity-bag{
    position: absolute;
    color: #ff0606;
    font-size: 1rem;
    font-weight: 700;
    bottom: 1rem;
}