<nav class="navbar__container">
    <div class="navbar__show-menu">
        <input type="checkbox" name="show-menu" id="showMenu" class="chbox-menu">
        <label for="showMenu" class="navbar__menu-hamburger">
            <span class="hamburger-lines"></span>
            <span class="hamburger-lines"></span>
            <span class="hamburger-lines"></span>
        </label>
        <div class="bg-focus"></div>
    </div>
    <ul class="navbar__menu">
        <li class="menu-item">
            <a 
                routerLink="/product" routerLinkActive="actived" 
                [routerLinkActiveOptions]="{exact:true}" 
                class="menu-link">Produtos
            </a>
        </li>
        <i class="separator"></i>
        <li class="menu-item">
            <a routerLink="/cart" routerLinkActive="actived" class="menu-link">
                <div class="bag__content">
                <span class="quantity-bag" id="quantityInBag">{{totalQuantityInBag}}</span>
                    <fa-icon class="bag-shopping" [icon]="faBasketShopping">
                    </fa-icon>
                </div>
                <span class="bag-price" id="bagPriceTotal">R$ {{totalPriceInBag | currency:"BRL"}}</span>
            </a>
        </li>
        <li class="menu-item">
            <a 
                routerLink="/contact"  
                class="menu-link"
                routerLinkActive="actived"
            >
                Contato   
            </a>
        </li>
    </ul>
</nav>
