@media screen and (max-width: 678px) {
    .home__search{
        flex-direction: column;
    }
    .search__content{
        justify-content: center;
        width: 96%;
    }
    .search-product{
        width: 100%;
        text-align: center;
        flex: 1;
    }
    .text-placeholder{
        margin-left: 0;
    }
}

@media screen and (min-width: 301px){
    .category__group{
        margin: .25rem;
    }
}

@media screen and (max-width: 300px) {
    *{
        font-size: .75rem;
    }
    .category__group{
        margin: 0;
    }

    .category-text{
        text-align: center;
        font-size: .75rem;
    }
}