<div class="home__container">
    <section class="home__cards">

        <app-card inputImgSrc="/assets/images/imagem Remedio.png"
            inputDescription="A-Z MULHER MADE IN USA 60 COMPRIMIDOS MULHERES ATIVAS SIDNEY OLIVEIRA"
            inputBefore="R$ 150,60" inputPrice="R$ 39,20" />
        <app-card inputImgSrc="/assets/images/imagem Remedio.png"
            inputDescription="A-Z MULHER MADE IN USA 60 COMPRIMIDOS MULHERES ATIVAS SIDNEY OLIVEIRA"
            inputBefore="R$ 150,60" inputPrice="R$ 39,20" />
        <app-card inputImgSrc="/assets/images/imagem Remedio.png"
            inputDescription="A-Z MULHER MADE IN USA 60 COMPRIMIDOS MULHERES ATIVAS SIDNEY OLIVEIRA"
            inputBefore="R$ 150,60" inputPrice="R$ 39,20" />
    </section>
</div>