<div class="home__container">
    <section class="home__search">
        <form for="setCategory" class="category__container" (change)="onSearchCategory($event)">
            <div class="category__group">
                <input type="radio" name="category" class="category-radio" id="personalHygiene" value="personalHygiene">
                <label class="category-text" for="personalHygiene">Higiene Pessoal</label>
            </div>
            <div class="category__group">
                <input type="radio" name="category" class="category-radio" id="baby" value="baby">
                <label class="category-text" for="baby">
                    Bebê
                </label>
            </div>
            <div class="category__group">
                <input type="radio" name="category" class="category-radio" id="health" value="health">
                <label class="category-text" for="health">Saúde</label>
            </div>
        </form>
            <form class="search__content">
                <button type="submit" class="search-btn">
                    <fa-icon [icon]="searchIcon" class="search-icon">
                </fa-icon>
            </button>
            <input type="text" class="search-product" name="description">
            @if(!searchProduct){
                <p class="text-placeholder"></p>
            }
        </form>    
</section>
    <section class="home__cards">
        @for (product of products; track $index) {
        <app-card [inputId]="product.id" [inputImgSrc]="product.imgProduct" [inputDescription]="product.description"
            [inputBefore]="product.priceBefore" [inputPrice]="product.price" [inputIsSale]="product.isSale"
            class="cards__card" />
        }
        @empty {
        <h2>Nenhum produto encontrado</h2>
        }
        <!-- @if(category){
            @if( product.category === category){
        }
        @else {
        <app-card [inputId]="product.id" [inputImgSrc]="product.imgProduct" [inputDescription]="product.description"
            [inputBefore]="product.priceBefore" [inputPrice]="product.price" [inputIsSale]="product.isSale"
            class="cards__card" />
        }    
    } -->

    </section>
</div>