@media screen and (max-width: 678px){

    .cart__container{
        padding: 2rem 0;
        height: 100%;
    }

    .cart__content{
        display: none;
    }

    .cart__products-finally{
        flex-direction: column;
        gap: 1.5rem;
    }
    .cart__total-buy{
        max-width: 98%;
        margin: 0 auto;
    }
    .cart__buy-product{
        display: none;
    }

}

@media screen and (max-width: 368px) {
    .cart__total-buy{
        flex-direction: column;
        gap: 1rem;
    }
    
}
