@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root{
    --primary-color: #efefef;
    --secondary-color: #181e5f;
    --secondary-color-hover: #8c90c3;
    --tertiary-color: #6bbfea;
    --low-color: #c1b8ac;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Lato", sans-serif;
}

a{
    text-decoration: none;
}

.btn{
    border: none;
    cursor: pointer;
}